{% extends 'base.html' %}

{% block title %}WebLevel - Get Best UI Design{% endblock %}

{% block content %}
<main>
        <section class="bg-WebLevel-dark-blue">
            <div class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-8">
                <div class="py-20">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                        <div class="mx-auto max-w-4xl lg:mx-0">
                            <h1 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-5xl">Shopify : comment et pourquoi l&#039;utiliser ?</h1>
                            <div class="mt-6 inline-flex space-x-3">
                                <span class="inline-flex items-center rounded-full bg-WebLevel-light-blue px-2 py-1 text-xs font-medium text-white">
                                    <time datetime="26/10/2023">26 oct. 2023</time>
                                </span>
                                <span class="inline-flex items-center rounded-full bg-WebLevel-light-blue px-2 py-1 text-xs font-medium text-white">Tech</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <article>
            <div class="bg-white px-6 py-20 lg:px-8">
                <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
                    <div class="mt-6 max-w-2xl">
                        <p class="mt-6">Salut à vous, chers explorateurs du web ! Aujourd'hui, je vais vous parler d'une véritable pépite pour la création de site :
                            <strong><a href="https://www.shopify.com/" target="_blank">Shopify</a></strong>.</p>
                        <p class="mt-6"><i>"Shopify ? C'est quoi ce truc ?"</i> Je vous vois venir ! Pour faire simple, Shopify, c'est un peu
                            comme un couteau suisse pour monter <u>une boutique en ligne</u>. Et non, vous n'avez pas besoin d'être un génie du code ou un développeur pour l'utiliser et créer votre site internet. Allez, attachez vos ceintures, c'est parti pour le voyage Shopify !</p>
                    </div>

                    <div class="mt-16 max-w-2xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">1. Shopify, kézako ?</h2>
                        <p class="mt-6">En gros, Shopify, c'est une plateforme qui permet à n'importe qui de <strong>créer sa boutique en ligne</strong> sur internet.</p>
                        <p class="mt-6">C'est un peu comme monter un meuble IKEA : on vous donne tous les outils et les pièces, à vous de suivre le mode d'emploi.</p>
                    </div>

                    <div class="mt-16 max-w-2xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">2. Pourquoi choisir Shopify ?</h2>
                        <h3 class="text-lg font-bold tracking-tight text-WebLevel mt-6">2.1. Pas besoin d'être ingénieur en fusées</h3>
                        <p class="mt-6">L'avantage majeur de Shopify ? Sa simplicité pour créer son projet web ! Pas besoin de vous casser la tête avec du code ou des termes techniques. Tout est fait pour vous faciliter la vie.</p>
                        <h3 class="text-lg font-bold tracking-tight text-WebLevel mt-6">2.2. Un design aux petits oignons</h3>
                        <p class="mt-6">Shopify propose plein de designs super stylés pour votre boutique. Alors, non, vous n'aurez pas l'excuse du "j'ai pas le sens du design". Shopify s'occupe de tout !</p>
                        <h3 class="text-lg font-bold tracking-tight text-WebLevel mt-6">2.3. Une sécurité béton</h3>
                        <p class="mt-6">Vos clients vous confient leurs données bancaires. Pas de panique ! Shopify met un point d'honneur à sécuriser tout ça. Pas de petits malins qui viennent chiper les infos.</p>
                    </div>

                    <div class="mt-16 max-w-2xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">3. Comment utiliser Shopify ?</h2>
                        <p class="mt-6">La première étape est d'aller sur le site de Shopify. On vous demandera des informations basiques comme votre mail, votre nom, tout ça tout ça. Rien de compliqué, promis !</p>
                        <p class="mt-6">Là, c'est la partie fun ! Vous allez pouvoir choisir parmi une multitude de designs pour que votre boutique soit la plus belle et l'identité visuelle qui vous correspond. Et si vous êtes un peu perdu, pas de soucis, Shopify a des recommandations pour vous afin de créer une expérience utilisateur parfaite grâce au web-design et son design ergonomique reponsive (tablette, téléphone, ordinateur).</p>
                        <p class="mt-6">Bon, une boutique sans produits... c'est compliqué. Sur Shopify, ajouter des produits est un jeu d'enfant. Une photo, une description, un prix, et hop, le tour est joué.</p>
                        <p class="mt-6">Oui, il faut bien que vous soyez payé, non ? Et que vos clients reçoivent leurs achats. Shopify vous guide pas à pas pour configurer tout ça</p>
                        <p class="mt-6">Dernière étape : mettre votre boutique en ligne sur le web. Un petit clic et votre shop est ouvert au monde entier. Champagne !</p>
                    </div>

                    <div class="mt-16 max-w-2xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">4. Quelques astuces pour optimiser votre boutique</h2>
                        <h3 class="text-lg font-bold tracking-tight text-WebLevel mt-6">4.1 Soyez clair et concis</h3>
                        <p class="mt-6">Les gens n'ont pas envie de lire un roman. Soyez direct, allez droit au but, et faites en sorte que vos clients trouvent ce qu'ils cherchent rapidement.</p>
                        <h3 class="text-lg font-bold tracking-tight text-WebLevel mt-6">4.2 Utilisez de belles photos</h3>
                        <p class="mt-6">Une image vaut mille mots. Investissez dans de belles photos pour mettre en valeur vos produits.</p>
                        <h3 class="text-lg font-bold tracking-tight text-WebLevel mt-6">4.3 Pensez SEO</h3>
                        <p class="mt-6">"SEO" c'est quoi ? C'est tout simplement l'art de <strong>rendre votre boutique visible sur les moteurs de recherche</strong>. Utilisez des mots-clés pertinents, des descriptions bien ficelées, et vous verrez, Google sera votre meilleur ami pour gagner en notoriété et atteindre de nouveaux clients. On appelle ça le référencement naturel.</p>
                    </div>

                    <div class="mt-16 max-w-2xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">5. Conclusion</h2>
                        <p class="mt-6">Voilà, vous savez tout (ou presque) sur Shopify. Alors, prêts à devenir les rois et reines du e-commerce ? Il existe aussi d'autres plateformes telles que Prestashop, Drupal, Woocommerce et Joomla pour créer sa boutique en ligne. Nous vous invitons à vous renseigner afin de choisir celle qui vous correspond le mieux.</p>
                        <p class="mt-6"> Avec Shopify, tout est possible, même pour les plus novices d'entre vous. Et n'oubliez pas, le web, c'est comme la vie, il faut y aller avec curiosité et bonne humeur. Alors, lancez-vous et amusez-vous ! La communication digitale est un vaste océan d'information.</p>
                        <p class="mt-6">Vous pouvez passer par une agence de création web afin de vous aider dans votre projet de création de boutique en ligne. Consultez <u><a href="https://weblevel.fr/projets">nos réalisations</a></u> afin de vous faire un avis ! :)</p>
                    </div>
                </div>
            </div>
            <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
                <div class="bg-WebLevel-light-gray md:border-WebLevel-light-purple md:border-2 sm:rounded-lg">
                    <div class="px-4 py-5 sm:p-6">
                        <div class="sm:flex sm:items-start sm:justify-between">
                            <div>
                                <h3 class="text-base font-semibold leading-6 text-gray-900">
                                    <img class="inline-block h-8 w-8 rounded-full mr-2" src="/media/ProfilePicture/592_ID6527ad7d76c73.jpg" alt="">
                                    Article rédigé par <span class="text-WebLevel">Abdel Ferdjani</span>
                                </h3>
                                <div class="mt-3 max-w-xl text-sm text-gray-500">
                                    <p>"Je suis product owner chez WebLevel depuis 2 ans. Je vous accompagne dans le développement de tous vos projets. "</p>
                                </div>
                            </div>
                            <div class="mt-5 sm:ml-6 sm:mt-0 sm:flex sm:flex-shrink-0 sm:items-center">
                                <a class="inline-flex items-center rounded-full bg-WebLevel px-3 py-2 text-sm font-semibold text-white hover:bg-WebLevel-hover transition duration-200" href="/contact">Contactez-nous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <section class="py-24">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-3xl">
            <div class="pb-8">
                <h3 class="text-2xl text-center">
                                            Commentaire
                                    </h3>
                                            </div>
                            <div class="flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-WebLevel mr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                    </svg>
                    <p class="text-WebLevel text-center font-semibold text-sm">Soyez le premier à commenter</p>
                </div>
                                        <div class="mt-6 flex justify-center">
                    <a href="/connexion" class="text-sm py-3 px-4 rounded-full font-semibold leading-6 text-gray-900 transition duration-200 ring-1 ring-inset ring-gray-300 hover:bg-gray-100">Connectez-vous</a>
                </div>
                    </div>
    </div>
</section>

        <section class="bg-WebLevel-light-gray">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="py-24 sm:py-32">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
                                                                                                <article class="flex flex-col items-start justify-between bg-white rounded-2xl">
                                        <div class="relative w-full">
                                            <a href="/blog/shopify-comment-et-pourquoi-l-utiliser">
                                                <img src="/media/blog/575_ID653a1c011513c.jpg" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                                            </a>
                                        </div>
                                        <div class="max-w-xl p-5 mt-3 mb-3">
                                            <div class="flex items-center gap-x-4 text-xs">
                                                <time datetime="26/10/2023" class="text-gray-500">
                                                                                                            26 oct. 2023
                                                                                                    </time>
                                                <div class="relative rounded-full bg-WebLevel-light-purple px-3 py-1.5 font-medium text-gray-600">Tech</div>
                                            </div>
                                            <div class="group relative">
                                                <h2 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                                    <a href="/blog/shopify-comment-et-pourquoi-l-utiliser">
                                                        <span class="absolute inset-0"></span>
                                                        Shopify : comment et pourquoi l&#039;utiliser ?
                                                    </a>
                                                </h2>
                                                <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                        Salut à vous, chers explorateurs du web ! Aujourd&#039;hui, je vais vous parler d&#039;une véritable pépite pour la création de site :
                            Shopify..</p>
                                            </div>
                                            <div class="relative mt-8 flex items-center gap-x-4">
                                                <img src="/media/ProfilePicture/592_ID6527ad7d76c73.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                                                <div class="text-sm leading-6">
                                                    <p class="font-semibold text-gray-900">
                                                        <span class="absolute inset-0"></span>
                                                        Abdel Ferdjani
                                                    </p>
                                                    <p class="text-gray-600">Product owner</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                                                                                                                <article class="flex flex-col items-start justify-between bg-white rounded-2xl">
                                        <div class="relative w-full">
                                            <a href="/blog/15-termes-a-connaitre-dans-le-developpement-web">
                                                <img src="/media/blog/575_ID6530f038f1030.jpg" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                                            </a>
                                        </div>
                                        <div class="max-w-xl p-5 mt-3 mb-3">
                                            <div class="flex items-center gap-x-4 text-xs">
                                                <time datetime="19/10/2023" class="text-gray-500">
                                                                                                            19 oct. 2023
                                                                                                    </time>
                                                <div class="relative rounded-full bg-WebLevel-light-purple px-3 py-1.5 font-medium text-gray-600">Développement</div>
                                            </div>
                                            <div class="group relative">
                                                <h2 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                                    <a href="/blog/15-termes-a-connaitre-dans-le-developpement-web">
                                                        <span class="absolute inset-0"></span>
                                                        15 termes à connaître dans le développement web
                                                    </a>
                                                </h2>
                                                <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                        Cet article regroupe les définitions des termes les plus courants dans le développement web.
                            Il est destiné à tous ceux qui s’intéressent à ce domaine et qui voudraient avoir un aperçu..</p>
                                            </div>
                                            <div class="relative mt-8 flex items-center gap-x-4">
                                                <img src="/media/ProfilePicture/575_ID65194ac0071c5.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                                                <div class="text-sm leading-6">
                                                    <p class="font-semibold text-gray-900">
                                                        <span class="absolute inset-0"></span>
                                                        Benjamin Roche
                                                    </p>
                                                    <p class="text-gray-600">Chef de projet</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                                                                                                                <article class="flex flex-col items-start justify-between bg-white rounded-2xl">
                                        <div class="relative w-full">
                                            <a href="/blog/qu-est-ce-qu-une-agence-web-digitale">
                                                <img src="/media/blog/575_ID6527a9b7584a4.jpg" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                                            </a>
                                        </div>
                                        <div class="max-w-xl p-5 mt-3 mb-3">
                                            <div class="flex items-center gap-x-4 text-xs">
                                                <time datetime="12/10/2023" class="text-gray-500">
                                                                                                            12 oct. 2023
                                                                                                    </time>
                                                <div class="relative rounded-full bg-WebLevel-light-purple px-3 py-1.5 font-medium text-gray-600">Actualité</div>
                                            </div>
                                            <div class="group relative">
                                                <h2 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                                    <a href="/blog/qu-est-ce-qu-une-agence-web-digitale">
                                                        <span class="absolute inset-0"></span>
                                                        Qu&#039;est-ce qu&#039;une agence web / digitale ?
                                                    </a>
                                                </h2>
                                                <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">                    
                        Vous vous êtes probablement déjà demandé : qu&#039;est-ce qu&#039;une agence web ? On entend souvent parler d&#039;Création de Site Web web et digitales, mais qu&#039;est-ce que cela signifie réellement ? Quels sont leurs ob..</p>
                                            </div>
                                            <div class="relative mt-8 flex items-center gap-x-4">
                                                <img src="/media/ProfilePicture/592_ID6527ad7d76c73.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                                                <div class="text-sm leading-6">
                                                    <p class="font-semibold text-gray-900">
                                                        <span class="absolute inset-0"></span>
                                                        Abdel Ferdjani
                                                    </p>
                                                    <p class="text-gray-600">Product owner</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                                                                    </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

                    <section class="bg-WebLevel-light-purple">
    <div class="px-6 py-20 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="font-bold tracking-tight text-gray-900 text-3xl md:text-4xl">Vous avez un projet ?</h2>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 font-semibold text-gray-600">Nous concevons des sites internet uniques référencés sur les moteurs de recherche. Un conseiller vous rappelle en moins d'1h.</p>
            <div class="mt-6 flex -space-x-2 justify-center items-center">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_charles.webp" alt="Photo de profil Charles">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_abdel.webp" alt="Photo de profil Benoit">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_benjamin.webp" alt="Photo de profil Benjamin">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_lucie.webp" alt="Photo de profil Lucie">
            </div>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="/contact" class="text-sm bg-WebLevel hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">Contactez-nous <span class="ml-2 mt-0.5" aria-hidden="true">&rarr;</span></a>
            </div>
        </div>
    </div>
</section>
        

    <script>
        window.axeptioSettings = {
            clientId: "64cf6e276b3b964999d70144",
            cookiesVersion: "WebLevel-fr",
        };

        (function(d, s) {
            var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
            e.async = true; e.src = "//static.axept.io/sdk.js";
            t.parentNode.insertBefore(e, t);
        })(document, "script");
    </script>
{% endblock %}
