{% extends 'base.html' %}

{% block title %}WebLevel - Get Best UI Design{% endblock %}

{% block additional_head %}
    <link rel="canonical" href="https://weblevel.frude-de-cas/passtech" />

    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KDGT7WQ');
    </script>

    <!-- Main -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow"/>

    <title>WebLevel Agency - Le blog, expertise et conseils en référencement SEO et développement web</title>
    <meta name="description" content="WebLevel, agence digitale à Paris, Lyon et Genève, vous donne toutes les informations et tendances du développement web et du SEO.">

    <!-- OpenGraph -->
    <meta property="og:title" content="Le blog, expertise et conseils en référencement SEO et développement web">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://weblevel.frog">
    <meta property="og:image" content="/media/site/WebLevel_banniere.webp">
    <meta property="og:image:alt" content="WebLevel blog"/>
    <meta property="og:description" content="WebLevel, agence digitale à Paris, Lyon et Genève, vous donne toutes les informations et tendances du développement web et du SEO.">

    <!-- Favicon -->
    <link rel="icon" type="image/webp" href="/media/logo/favicon.webp" sizes="32x32">

    <!-- CSS/JS -->
    <script src="https://cdn.tailwindcss.com"></script><script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "WebLevel Agency",
            "url": "https://weblevel.fr
            "potentialAction": {
                "@type": "SearchAction",
                "target": "{search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-236329277-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-236329277-1');
    </script>
{% endblock %}

{% block content %}

<main>
        <section class="bg-[#275a8a]">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="py-20">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                        <div class="mx-auto max-w-2xl lg:mx-0">
                            <h1 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-5xl">Le blog</h1>
                            <p class="mt-6 text-lg leading-8 text-white/60">Découvrez nos conseils sur le développement web, les actualités autour du SEO, de l'e-commerce et du digital.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="py-24">
                <div class="mx-auto max-w-7xl px-6 lg:px-8">
                    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
                                                    <article class="flex flex-col items-start justify-between bg-[#f6f8fa] rounded-2xl">
                                <div class="relative w-full">
                                    <a href="/blog/shopify-comment-et-pourquoi-l-utiliser">
                                        <img src="/media/blog/575_ID653a1c011513c.jpg" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                                    </a>
                                </div>
                                <div class="max-w-xl p-5 mt-3 mb-3">
                                    <div class="flex items-center gap-x-4 text-xs">
                                        <time datetime="26/10/2023" class="text-gray-500 capitalize">
                                                                                            26 oct. 2023
                                                                                    </time>
                                        <div class="relative rounded-full bg-WebLevel-light-purple px-3 py-1.5 font-medium text-gray-600">Tech</div>
                                    </div>
                                    <div class="group relative">
                                        <h2 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                            <a href="/blog/shopify-comment-et-pourquoi-l-utiliser">
                                                <span class="absolute inset-0"></span>
                                                Shopify : comment et pourquoi l&#039;utiliser ?
                                            </a>
                                        </h2>
                                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                        Salut à vous, chers explorateurs du web ! Aujourd&#039;hui, je vais vous parler d&#039;une véritable pépite pour la création de site :
                            Shopify..</p>
                                    </div>
                                    <div class="relative mt-8 flex items-center gap-x-4">
                                        <img src="/media/ProfilePicture/592_ID6527ad7d76c73.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                                        <div class="text-sm leading-6">
                                            <p class="font-semibold text-gray-900">
                                                <span class="absolute inset-0"></span>
                                                Abdel Ferdjani
                                            </p>
                                            <p class="text-gray-600">Product owner</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                                                    <article class="flex flex-col items-start justify-between bg-[#f6f8fa] rounded-2xl">
                                <div class="relative w-full">
                                    <a href="/blog/15-termes-a-connaitre-dans-le-developpement-web">
                                        <img src="/media/blog/575_ID6530f038f1030.jpg" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                                    </a>
                                </div>
                                <div class="max-w-xl p-5 mt-3 mb-3">
                                    <div class="flex items-center gap-x-4 text-xs">
                                        <time datetime="19/10/2023" class="text-gray-500 capitalize">
                                                                                            19 oct. 2023
                                                                                    </time>
                                        <div class="relative rounded-full bg-WebLevel-light-purple px-3 py-1.5 font-medium text-gray-600">Développement</div>
                                    </div>
                                    <div class="group relative">
                                        <h2 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                            <a href="/blog/15-termes-a-connaitre-dans-le-developpement-web">
                                                <span class="absolute inset-0"></span>
                                                15 termes à connaître dans le développement web
                                            </a>
                                        </h2>
                                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                        Cet article regroupe les définitions des termes les plus courants dans le développement web.
                            Il est destiné à tous ceux qui s’intéressent à ce domaine et qui voudraient avoir un aperçu..</p>
                                    </div>
                                    <div class="relative mt-8 flex items-center gap-x-4">
                                        <img src="/media/ProfilePicture/575_ID65194ac0071c5.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                                        <div class="text-sm leading-6">
                                            <p class="font-semibold text-gray-900">
                                                <span class="absolute inset-0"></span>
                                                Benjamin Roche
                                            </p>
                                            <p class="text-gray-600">Chef de projet</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                                                    <article class="flex flex-col items-start justify-between bg-[#f6f8fa] rounded-2xl">
                                <div class="relative w-full">
                                    <a href="/blog/qu-est-ce-qu-une-agence-web-digitale">
                                        <img src="/media/blog/575_ID6527a9b7584a4.jpg" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                                    </a>
                                </div>
                                <div class="max-w-xl p-5 mt-3 mb-3">
                                    <div class="flex items-center gap-x-4 text-xs">
                                        <time datetime="12/10/2023" class="text-gray-500 capitalize">
                                                                                            12 oct. 2023
                                                                                    </time>
                                        <div class="relative rounded-full bg-WebLevel-light-purple px-3 py-1.5 font-medium text-gray-600">Actualité</div>
                                    </div>
                                    <div class="group relative">
                                        <h2 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                            <a href="/blog/qu-est-ce-qu-une-agence-web-digitale">
                                                <span class="absolute inset-0"></span>
                                                Qu&#039;est-ce qu&#039;une agence web / digitale ?
                                            </a>
                                        </h2>
                                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">                    
                        Vous vous êtes probablement déjà demandé : qu&#039;est-ce qu&#039;une agence web ? On entend souvent parler d&#039;Création de Site Webn de Site Web web et digitales, mais qu&#039;est-ce que cela signifie réellement ? Quels sont leurs ob..</p>
                                    </div>
                                    <div class="relative mt-8 flex items-center gap-x-4">
                                        <img src="/media/ProfilePicture/592_ID6527ad7d76c73.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                                        <div class="text-sm leading-6">
                                            <p class="font-semibold text-gray-900">
                                                <span class="absolute inset-0"></span>
                                                Abdel Ferdjani
                                            </p>
                                            <p class="text-gray-600">Product owner</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                                                    <article class="flex flex-col items-start justify-between bg-[#f6f8fa] rounded-2xl">
                                <div class="relative w-full">
                                    <a href="/blog/creer-un-site-wordpress-les-indispensables">
                                        <img src="/media/blog/575_ID651fef685ceb1.jpg" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                                    </a>
                                </div>
                                <div class="max-w-xl p-5 mt-3 mb-3">
                                    <div class="flex items-center gap-x-4 text-xs">
                                        <time datetime="06/10/2023" class="text-gray-500 capitalize">
                                                                                            6 oct. 2023
                                                                                    </time>
                                        <div class="relative rounded-full bg-WebLevel-light-purple px-3 py-1.5 font-medium text-gray-600">Développement</div>
                                    </div>
                                    <div class="group relative">
                                        <h2 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                            <a href="/blog/creer-un-site-wordpress-les-indispensables">
                                                <span class="absolute inset-0"></span>
                                                Créer un Site WordPress : Les Indispensables
                                            </a>
                                        </h2>
                                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
            WordPress est une plateforme de création de sites web qui a révolutionné la manière dont les gens publient et gèrent leur contenu en ligne.
            Avec une interface conviviale et une multitude de fonctionn..</p>
                                    </div>
                                    <div class="relative mt-8 flex items-center gap-x-4">
                                        <img src="/media/ProfilePicture/575_ID65194ac0071c5.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                                        <div class="text-sm leading-6">
                                            <p class="font-semibold text-gray-900">
                                                <span class="absolute inset-0"></span>
                                                Benjamin Roche
                                            </p>
                                            <p class="text-gray-600">Chef de projet</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                                                    <article class="flex flex-col items-start justify-between bg-[#f6f8fa] rounded-2xl">
                                <div class="relative w-full">
                                    <a href="/blog/nouvelle-agence-web-et-seo-a-geneve">
                                        <img src="/media/blog/WebLevel-geneve.webp" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                                    </a>
                                </div>
                                <div class="max-w-xl p-5 mt-3 mb-3">
                                    <div class="flex items-center gap-x-4 text-xs">
                                        <time datetime="30/08/2023" class="text-gray-500 capitalize">
                                                                                            30 août 2023
                                                                                    </time>
                                        <div class="relative rounded-full bg-WebLevel-light-purple px-3 py-1.5 font-medium text-gray-600">Actualité</div>
                                    </div>
                                    <div class="group relative">
                                        <h2 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                            <a href="/blog/nouvelle-agence-web-et-seo-a-geneve">
                                                <span class="absolute inset-0"></span>
                                                Nouvelle agence web en Suisse : WebLevel s&#039;installe à Genève

                                            </a>
                                        </h2>
                                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
  Depuis 2019, année de création d’WebLevel à Lyon, notre agence web parcourt toute la France pour accompagner les entreprises à développer leur site web et à acquérir de nouveaux clients.
  Ces dernières années ont été marq..</p>
                                    </div>
                                    <div class="relative mt-8 flex items-center gap-x-4">
                                        <img src="/media/ProfilePicture/591_ID64ec68912c8f7.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                                        <div class="text-sm leading-6">
                                            <p class="font-semibold text-gray-900">
                                                <span class="absolute inset-0"></span>
                                                Charles Mata
                                            </p>
                                            <p class="text-gray-600">Chef de projet</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                                                    <article class="flex flex-col items-start justify-between bg-[#f6f8fa] rounded-2xl">
                                <div class="relative w-full">
                                    <a href="/blog/refonte-de-notre-site-web">
                                        <img src="/media/blog/WebLevel-refonte.webp" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                                    </a>
                                </div>
                                <div class="max-w-xl p-5 mt-3 mb-3">
                                    <div class="flex items-center gap-x-4 text-xs">
                                        <time datetime="16/08/2023" class="text-gray-500 capitalize">
                                                                                            16 août 2023
                                                                                    </time>
                                        <div class="relative rounded-full bg-WebLevel-light-purple px-3 py-1.5 font-medium text-gray-600">Actualité</div>
                                    </div>
                                    <div class="group relative">
                                        <h2 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                            <a href="/blog/refonte-de-notre-site-web">
                                                <span class="absolute inset-0"></span>
                                                WebLevel : Refonte de notre site internet
                                            </a>
                                        </h2>
                                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
  En cette période marquée à la fois par l&#039;ouverture de nos bureaux à Genève et par la redéfinition de Projets, nous sommes ravis de vous dévoiler notre tout nouveau site web.
  ..</p>
                                    </div>
                                    <div class="relative mt-8 flex items-center gap-x-4">
                                        <img src="/media/ProfilePicture/591_ID64ec68912c8f7.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                                        <div class="text-sm leading-6">
                                            <p class="font-semibold text-gray-900">
                                                <span class="absolute inset-0"></span>
                                                Charles Mata
                                            </p>
                                            <p class="text-gray-600">Chef de projet</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                                                    <article class="flex flex-col items-start justify-between bg-[#f6f8fa] rounded-2xl">
                                <div class="relative w-full">
                                    <a href="/blog/notre-processus-de-developpement-web">
                                        <img src="/media/blog/WebLevel-processus.webp" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                                    </a>
                                </div>
                                <div class="max-w-xl p-5 mt-3 mb-3">
                                    <div class="flex items-center gap-x-4 text-xs">
                                        <time datetime="28/07/2023" class="text-gray-500 capitalize">
                                                                                            28 juil. 2023
                                                                                    </time>
                                        <div class="relative rounded-full bg-WebLevel-light-purple px-3 py-1.5 font-medium text-gray-600">Informatique</div>
                                    </div>
                                    <div class="group relative">
                                        <h2 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                            <a href="/blog/notre-processus-de-developpement-web">
                                                <span class="absolute inset-0"></span>
                                                De l’idée à la réalité : notre processus de développement web
                                            </a>
                                        </h2>
                                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
  Aujourd’hui je vous propose de vous expliquer notre démarche de prise en charge de votre projet web, pour que vous ayez un premier aperçu de comment se déroule la collaboration avec nos clients.
  Chaque projet que l’on prend en main ..</p>
                                    </div>
                                    <div class="relative mt-8 flex items-center gap-x-4">
                                        <img src="/media/ProfilePicture/575_ID65194ac0071c5.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                                        <div class="text-sm leading-6">
                                            <p class="font-semibold text-gray-900">
                                                <span class="absolute inset-0"></span>
                                                Benjamin Roche
                                            </p>
                                            <p class="text-gray-600">Chef de projet</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                                            </div>
                </div>
            </div>
        </section>
    </main>

<section class="bg-WebLevel-light-purple">
    <div class="px-6 py-20 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="font-bold tracking-tight text-gray-900 text-3xl md:text-4xl">Vous avez un projet ?</h2>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 font-semibold text-gray-600">Nous concevons des sites internet uniques référencés sur les moteurs de recherche. Un conseiller vous rappelle en moins d'1h.</p>
            <div class="mt-6 flex -space-x-2 justify-center items-center">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_charles.webp" alt="Photo de profil Charles">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_abdel.webp" alt="Photo de profil Benoit">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_benjamin.webp" alt="Photo de profil Benjamin">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_lucie.webp" alt="Photo de profil Lucie">
            </div>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="/contact" class="text-sm bg-WebLevel hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">Contactez-nous <span class="ml-2 mt-0.5" aria-hidden="true">&rarr;</span></a>
            </div>
        </div>
    </div>
</section>
        

    <script>
        window.axeptioSettings = {
            clientId: "64cf6e276b3b964999d70144",
            cookiesVersion: "WebLevel-fr",
        };

        (function(d, s) {
            var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
            e.async = true; e.src = "//static.axept.io/sdk.js";
            t.parentNode.insertBefore(e, t);
        })(document, "script");
    </script>

{% endblock %}

