{% extends 'base.html' %}

{% block title %}WebLevel Agence - Agence Web et Référencement SEO{% endblock %}

{% block additional_head %}
<link rel="canonical" href="https://weblevel.frpertises" />

        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KDGT7WQ');
        </script>

        <!-- Main -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow"/>

        <title>WebLevel Agency - Nos expertises</title>
        <meta name="description" content="WebLevel vous accompagne sur la réalisation de vos projets web et référencement. Direction artistique, UX/UI, maintenance et évolution, acquisition et trafic.">

        <!-- OpenGraph -->
        <meta property="og:title" content="Nos expertises dévelopement web, SEO, UI/UX, évolution, acquisition">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://weblevel.frpertises">
        <meta property="og:image" content="/media/site/WebLevel_agency_11.webp">
        <meta property="og:image:alt" content="WebLevel expertises"/>
        <meta property="og:description" content="WebLevel vous accompagne sur la réalisation de vos projets web et référencement. Direction artistique, UX/UI, maintenance et évolution, acquisition et trafic.">

        <!-- Favicon -->
        <link rel="icon" type="image/webp" href="/media/logo/favicon.webp" sizes="32x32">

        <!-- CSS/JS -->
        <script src="https://cdn.tailwindcss.com"></script><script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "WebSite",
                "name": "WebLevel Agency",
                "url": "https://weblevel.fr
                "potentialAction": {
                    "@type": "SearchAction",
                    "target": "{search_term_string}",
                    "query-input": "required name=search_term_string"
                }
            }
        </script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-236329277-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-236329277-1');
        </script>
{% endblock %}
{% block content %}
<main>
        <section class="bg-[#275a8a]">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="py-20">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                        <div class="mx-auto max-w-2xl lg:mx-0">
                            <h1 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-5xl">Nos expertises</h1>
                            <p class="mt-6 text-lg leading-8 text-white/60">Refonte ou création de site internet, WebLevel vous accompagne dans votre stratégie digitale pour rendre votre entreprise encore plus visible sur les moteurs de recherche.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 ">
            <div class="bg-white py-24 sm:py-32">
                <div class="mx-auto max-w-7xl px-6 lg:px-8">
                    <div class="mx-auto max-w-2xl lg:max-w-none">
                        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
                            <div class="flex flex-col">
                                <dt class="text-base font-semibold leading-7 text-gray-900">
                                    <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-full bg-[#265a8a]">
                                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                        </svg>
                                    </div>
                                    <span class="text-lg">UI Design</span>
                                </dt>
                                <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
                                    <p class="flex-auto">L’UI Design, autrement dit l’esthétisme de votre site, consiste à créer un rendu exceptionnel et une interface personnalisée, destinés à séduire et convaincre votre audience.</p>
                                </dd>
                            </div>
                            <div class="flex flex-col">
                                <dt class="text-base font-semibold leading-7 text-gray-900">
                                    <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-full bg-[#265a8a]">
                                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                                        </svg>
                                    </div>
                                    <span class="text-lg">Expérience utilisateur</span>
                                </dt>
                                <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
                                    <p class="flex-auto">Un site doit être esthétique, mais surtout centré sur l’expérience utilisateur. Ventes, acquisition de prospects, visibilité, crédibilité... nous assurons une excellente ergonomie pour optimiser vos conversions.</p>
                                </dd>
                            </div>
                            <div class="flex flex-col">
                                <dt class="text-base font-semibold leading-7 text-gray-900">
                                    <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-full bg-[#265a8a]">
                                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
                                        </svg>
                                    </div>
                                    <span class="text-lg">Développement web</span>
                                </dt>
                                <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
                                    <p class="flex-auto">Chacun de nos sites internet est unique, adapté à votre stratégie digitale et conçu en responsive design. Notre objectif est de faire en sorte que votre site se démarque dans les premiers résultats de recherche.</p>
                                </dd>
                            </div>
                            <div class="flex flex-col">
                                <dt class="text-base font-semibold leading-7 text-gray-900">
                                    <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-full bg-[#265a8a]">
                                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3v11.25A2.25 2.25 0 006 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0118 16.5h-2.25m-7.5 0h7.5m-7.5 0l-1 3m8.5-3l1 3m0 0l.5 1.5m-.5-1.5h-9.5m0 0l-.5 1.5M9 11.25v1.5M12 9v3.75m3-6v6" />
                                        </svg>
                                    </div>
                                    <span class="text-lg">Reférencement SEO</span>
                                </dt>
                                <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
                                    <p class="flex-auto">Notre objectif : booster votre référencement naturel en atteignant les premières positions sur les moteurs de recherche. Cela passe par une stratégie de contenu et l'acquisition de backlinks.</p>
                                </dd>
                            </div>
                            <div class="flex flex-col">
                                <dt class="text-base font-semibold leading-7 text-gray-900">
                                    <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-full bg-[#265a8a]">
                                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
                                        </svg>
                                    </div>
                                    <span class="text-lg">Trafic, acquisition et conversion</span>
                                </dt>
                                <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
                                    <p class="flex-auto">Nous nous occupons d’acquérir du trafic et de convertir les visiteurs en acheteurs. Une analyse précise des données est nécessaire pour viser juste, en utilisant des outils tels que Google Analytics, par exemple.</p>
                                </dd>
                            </div>
                            <div class="flex flex-col">
                                <dt class="text-base font-semibold leading-7 text-gray-900">
                                    <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-full bg-[#265a8a]">
                                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z" />
                                        </svg>
                                    </div>
                                    <span class="text-lg">Maintenance et évolutions techniques</span>
                                </dt>
                                <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
                                    <p class="flex-auto">Au fil de la vie de votre projet et de l'évolution de vos objectifs commerciaux, nous améliorons votre site web, que ce soit au niveau technique, graphique ou en termes de référencement naturel.</p>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </section>
        <section class="overflow-hidden bg-WebLevel-light-gray py-24 sm:py-32  bg-[#f6f8fa]">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
                    <div class="flex items-center justify-center lg:justify-start lg:pl-4 lg:ml-auto">
                        <div class="lg:max-w-lg">
                            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Créer un site avec WebLevel, comment ça se passe ?</h2>
                            <p class="mt-6 text-lg leading-8 text-gray-600">Contactez-nous, <strong>un conseiller rappelle en moins d'1h</strong>. Nous discutons de vos besoins et vous guidons vers les solutions adaptées à votre projet.</p>
                            <p class="mt-3 text-lg leading-8 text-gray-600">Sous 24h, vous recevez un <strong>devis détaillé, sans engagement</strong>. Un chef de projet dédié vous accompagne tout au long du développement du site.</p>
                            <p class="mt-3 text-lg leading-8 text-gray-600"><strong>Livraison garantie à temps</strong>, sans bugs, conforme à vos attentes initiales.</p>
                    
                            <div class="mt-6 inline-flex items-center gap-x-6 bg-[#275a8a] rounded-2xl px-4">
                                <a href="/projets" class="text-sm bg-WebLevel hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">Nos Projets</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-start justify-end order-first">
                        <img src="/media/site/WebLevel_agency_11.webp" alt="Product screenshot" class="w-[48rem] object-cover aspect-[6/5] rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" width="2432" height="1442">
                    </div>
                </div>
            </div>
        </section>
        <section class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 ">
            <div class="py-24 sm:py-32">
                <div class="mx-auto max-w-7xl px-6 lg:px-8">
                    <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
                        <div class="mx-auto w-full max-w-xl lg:mx-0 text-center lg:text-left">
                            <h2 class="text-3xl font-bold tracking-tight text-gray-900">Nos outils de travail</h2>
                            <p class="mt-6 text-lg leading-8 text-gray-600">Pour créer <strong>un site internet adapté à vos besoins et bien référencé sur les moteurs de recherche</strong>, il est essentiel de sélectionner les outils appropriés.</p>
                            <p class="mt-3 text-lg leading-8 text-gray-600">Notre stack technique est composée de <strong>CMS (Wordpress, Webflow, Shopify, WooCommerce), de langages de programmation ainsi que de frameworks</strong> de dernière génération.</p>
                        </div>
                        <div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8">
                            <img class="max-h-12 w-full object-contain" src="/media/skills/wordpress.webp" alt="wordpress" width="105" height="48">
                            <img class="max-h-12 w-full object-contain" src="/media/skills/webflow.webp" alt="webflow" width="104" height="48">
                            <img class="max-h-12 w-full object-contain" src="/media/skills/shopify.webp" alt="shopify" width="140" height="48">
                            <img class="max-h-12 w-full object-contain" src="/media/skills/woo-commerce.webp" alt="woo-commerce" width="158" height="48">
                            <img class="max-h-12 w-full object-contain" src="/media/skills/symfony.webp" alt="php" width="136" height="48">
                            <img class="max-h-12 w-full object-contain" src="/media/skills/react.webp" alt="react" width="147" height="48">
                            <img class="max-h-12 w-full object-contain" src="/media/skills/figma.webp" alt="figma" width="147" height="48">
                            <img class="max-h-12 w-full object-contain" src="/media/skills/adobe.webp" alt="photoshop" width="147" height="48">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="overflow-hidden bg-WebLevel-light-gray py-24 sm:py-32  bg-[#f6f8fa]">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
                    <div class="flex items-center justify-center lg:justify-start lg:pl-4 lg:ml-auto">
                        <div class="lg:max-w-lg">
                            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Spécialiste en site vitrine, e-commerce, application web</h2>
                            <p class="mt-6 text-lg leading-8 text-gray-600">Nous sommes spécialisés dans la <strong>création de sites internet ainsi que le référencement SEO</strong>. Optez pour un site internet performant, un hébergement web de votre projet en France ou en Suisse ainsi que des pages web ultra-rapides.</p>
                            <p class="mt-3 text-lg leading-8 text-gray-600">Créer un site internet, c’est avant tout le <strong>rendre visible sur les moteurs de recherche</strong>, c’est pourquoi nous travaillons ensemble sur la conception de votre site et la gestion de contenu pour atteindre de nouveaux clients.</p>
                            <div class="mt-6 inline-flex items-center gap-x-6 bg-[#275a8a] rounded-2xl px-4">
                                <a href="/contact" class="text-sm bg-WebLevel hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">Contactez-nous</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-start justify-end order-first ">
                        <img src="/media/site/WebLevel_agency_12.webp" alt="Product screenshot" class="w-[48rem] object-cover aspect-[6/5] rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" width="2432" height="1442">
                    </div>
                </div>
            </div>
        </section>
    </main>

                    <section class="bg-WebLevel-light-purple">
    <div class="px-6 py-20 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="font-bold tracking-tight text-gray-900 text-3xl md:text-4xl">Vous avez un projet ?</h2>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 font-semibold text-gray-600">Nous concevons des sites internet uniques référencés sur les moteurs de recherche. Un conseiller vous rappelle en moins d'1h.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="/contact" class="text-sm bg-[#265a8a] hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">Contactez-nous <span class="ml-2 mt-0.5" aria-hidden="true">&rarr;</span></a>
            </div>
        </div>
    </div>
</section>
        

    <script>
        window.axeptioSettings = {
            clientId: "64cf6e276b3b964999d70144",
            cookiesVersion: "WebLevel-fr",
        };

        (function(d, s) {
            var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
            e.async = true; e.src = "//static.axept.io/sdk.js";
            t.parentNode.insertBefore(e, t);
        })(document, "script");
    </script>
{% endblock %}
