{% extends 'base.html' %}

{% block title %}WebLevel - Get Best UI Design{% endblock %}

{% block additional_head %}
<link rel="canonical" href="https://weblevel.frntions-legales" />

        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KDGT7WQ');
        </script>

        <!-- Main -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow"/>

        <title>WebLevel Agency - Mentions légales</title>
        <meta name="description" content="Mentions légales du site WebLevel Agency à Paris, Lyon et Genève.">

        <!-- OpenGraph -->
        <meta property="og:title" content="Mentions légales">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://weblevel.frntions-legales">
        <meta property="og:image" content="/media/site/WebLevel_banniere.webp">
        <meta property="og:image:alt" content="WebLevel mentions légales"/>
        <meta property="og:description" content="">

        <!-- Favicon -->
        <link rel="icon" type="image/webp" href="/media/logo/favicon.webp" sizes="32x32">

        <!-- CSS/JS -->
        <script src="https://cdn.tailwindcss.com"></script><script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "WebSite",
                "name": "WebLevel Agency",
                "url": "https://weblevel.fr
                "potentialAction": {
                    "@type": "SearchAction",
                    "target": "{search_term_string}",
                    "query-input": "required name=search_term_string"
                }
            }
        </script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-236329277-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-236329277-1');
        </script>
{% endblock %}
{% block content %}

<main>
        <section class="bg-WebLevel-dark-blue">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="py-20">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                        <div class="mx-auto max-w-2xl lg:mx-0">
                            <h1 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-5xl">Mentions légales</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="px-6 py-24 lg:px-8">
                <div class="mx-auto max-w-7xl text-base leading-7 text-gray-700">
                    <div class="max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Editeur du site</h2>
                        <p class="mt-2">WebLevel Agency</p>
                        <p class="mt-2">Adresse mail : contact@weblevel.fr</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Directeur de la publication</h2>
                        <p class="mt-6">Benjamin Roche est le directeur de la publication du site WebLevel.agency.</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Hébergeur</h2>
                        <p class="mt-6 font-semibold">o2switch</p>
                        <p class="mt-2">Chem. des Pardiaux, 63000 Clermont-Ferrand - France</p>
                        <p class="mt-2">Téléphone : 04 44 44 60 40</p>
                        <p class="mt-2">Email : commercial@o2switch.fr</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Réalisation</h2>
                        <p class="mt-6">Le site internet a été réalisé entierement par l'entreprise Unfilow.</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Crédits photos</h2>
                        <p class="mt-6">Les photos présentes sur le site peuvent provenir de bibliothèques de photos payantes, de sites libres de droits ou être la propriété exclusive d'WebLevel.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

                    <section class="bg-WebLevel-light-purple">
    <div class="px-6 py-20 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="font-bold tracking-tight text-gray-900 text-3xl md:text-4xl">Vous avez un projet ?</h2>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 font-semibold text-gray-600">Nous concevons des sites internet uniques référencés sur les moteurs de recherche. Un conseiller vous rappelle en moins d'1h.</p>
            <div class="mt-6 flex -space-x-2 justify-center items-center">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_charles.webp" alt="Photo de profil Charles">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_abdel.webp" alt="Photo de profil Benoit">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_benjamin.webp" alt="Photo de profil Benjamin">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_lucie.webp" alt="Photo de profil Lucie">
            </div>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="/contact" class="text-sm bg-WebLevel hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">Contactez-nous <span class="ml-2 mt-0.5" aria-hidden="true">&rarr;</span></a>
            </div>
        </div>
    </div>
</section>
        

    <script>
        window.axeptioSettings = {
            clientId: "64cf6e276b3b964999d70144",
            cookiesVersion: "WebLevel-fr",
        };

        (function(d, s) {
            var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
            e.async = true; e.src = "//static.axept.io/sdk.js";
            t.parentNode.insertBefore(e, t);
        })(document, "script");
    </script>
{% endblock %}
