{% extends 'base.html' %}

{% block title %}WebLevel Agence - Agence Web et Référencement SEO{% endblock %}

{% block additional_head %}

{% endblock %}
{% block content %}
<main>
        <section class="bg-[#275a8a]">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="py-20">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                        <div class="mx-auto max-w-2xl lg:mx-0">
                            <h1 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-5xl">Nos Projets</h1>
                            <p class="mt-6 text-lg leading-8 text-white/60">Nous avons réalisé +200 projets de création de site internet pour tous les secteurs d'activités.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="overflow-hidden py-24 sm:py-32 bg-WebLevel-light-gray">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
                    <div class="flex items-center justify-center lg:justify-start lg:pl-4 lg:ml-auto">
                        <div class="lg:max-w-lg">
                            <div class="inline-flex mb-6 space-x-3">
                                <span class="inline-flex items-center rounded-full bg-WebLevel-light-purple px-2 py-1 text-xs font-medium text-gray-600">1 mois</span>
                                <span class="inline-flex items-center rounded-full bg-WebLevel-light-purple px-2 py-1 text-xs font-medium text-gray-600">Design</span>
                                <span class="inline-flex items-center rounded-full bg-WebLevel-light-purple px-2 py-1 text-xs font-medium text-gray-600">App. Web</span>
                            </div>
                            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Investir en France</h2>
                            <p class="mt-6 text-lg leading-8 text-gray-600">WebLevel accompagne I.E.F à s’affirmer comme porteur d’un service innovant dans un marché ultra-concurrentiel : l’investissement immobilier en France.</p>
                            <div class="mt-6 inline-flex items-center gap-x-6 bg-[#275a8a] rounded-2xl px-4">
                                <a href="/etude-de-cas/investir-en-france" class="text-sm bg-WebLevel hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">Découvrir le projet</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-start justify-end order-first">
                        <img src="/media/site/investir_en_france.webp" alt="Investir en france" class="w-[48rem] object-cover aspect-[6/5] rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" width="2432" height="1442">
                    </div>
                </div>
            </div>
        </section>
        <section class="overflow-hidden py-24 sm:py-32  bg-[#f6f8fa]">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
                    <div class="flex items-center justify-center lg:justify-start lg:pr-4 lg:mr-auto">
                        <div class="lg:max-w-lg">
                            <div class="inline-flex mb-6 space-x-3">
                                <span class="inline-flex items-center rounded-full bg-WebLevel-light-purple px-2 py-1 text-xs font-medium text-gray-600">1 mois</span>
                                <span class="inline-flex items-center rounded-full bg-WebLevel-light-purple px-2 py-1 text-xs font-medium text-gray-600">Refonte</span>
                                <span class="inline-flex items-center rounded-full bg-WebLevel-light-purple px-2 py-1 text-xs font-medium text-gray-600">Design</span>
                            </div>
                            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Passtech Games</h2>
                            <p class="mt-6 text-lg leading-8 text-gray-600">En collaboration avec WebLevel, Passtech Games a créé un site web qui reflète pleinement son identité visuelle saisissante. Ce dernier est agrémenté d'illustrations uniques qui plongent rapidement les visiteurs dans l'univers des différents jeux vidéo proposés par le studio.</p>
                            <div class="mt-6 inline-flex items-center gap-x-6 bg-[#275a8a] rounded-2xl px-4">
                                <a href="/etude-de-cas/passtech" class="text-sm bg-WebLevel hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">Découvrir le projet</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-start justify-end order-first lg:order-last">
                        <img src="/media/site/passtech.webp" alt="Passtech" class="w-[48rem] object-cover aspect-[6/5] rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" width="2432" height="1442">
                    </div>
                </div>
            </div>
        </section>
        <section class="overflow-hidden py-24 sm:py-32 bg-WebLevel-light-gray">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
                    <div class="flex items-center justify-center lg:justify-start lg:pl-4 lg:ml-auto">
                        <div class="lg:max-w-lg">
                            <div class="inline-flex mb-6 space-x-3">
                                <span class="inline-flex items-center rounded-full bg-WebLevel-light-purple px-2 py-1 text-xs font-medium text-gray-600">1 mois</span>
                                <span class="inline-flex items-center rounded-full bg-WebLevel-light-purple px-2 py-1 text-xs font-medium text-gray-600">Refonte</span>
                                <span class="inline-flex items-center rounded-full bg-WebLevel-light-purple px-2 py-1 text-xs font-medium text-gray-600">SEO</span>
                            </div>
                            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Baosian</h2>
                            <p class="mt-6 text-lg leading-8 text-gray-600">Le restaurant asiatique Baosian, situé au cœur de Paris, a adapté sa stratégie en réponse aux évolutions du marché de la restauration. En partenariat avec WebLevel, le restaurateur a développé sa propre plateforme de commande en ligne.</p>
                            <div class="mt-6 inline-flex items-center gap-x-6 bg-[#275a8a] rounded-2xl px-4">
                                <a href="/etude-de-cas/baosian" class="text-sm bg-WebLevel hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">Découvrir le projet</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-start justify-end order-first">
                        <img src="/media/site/baosian.webp" alt="Baosian" class="w-[48rem] object-cover aspect-[6/5] rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" width="2432" height="1442">
                    </div>
                </div>
            </div>
        </section>
        <section class="overflow-hidden py-24 sm:py-32  bg-[#f6f8fa]">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
                    <div class="flex items-center justify-center lg:justify-start lg:pr-4 lg:mr-auto">
                        <div class="lg:max-w-lg">
                            <div class="inline-flex mb-6 space-x-3">
                                <span class="inline-flex items-center rounded-full bg-WebLevel-light-purple px-2 py-1 text-xs font-medium text-gray-600">2 semaines</span>
                                <span class="inline-flex items-center rounded-full bg-WebLevel-light-purple px-2 py-1 text-xs font-medium text-gray-600">Création</span>
                                <span class="inline-flex items-center rounded-full bg-WebLevel-light-purple px-2 py-1 text-xs font-medium text-gray-600">Référencement</span>
                            </div>
                            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Barthes Coaching</h2>
                            <p class="mt-6 text-lg leading-8 text-gray-600">Florian Barthes est spécialisé dans le coaching en développement personnel. Son objectif est d'attirer davantage de clients en disposant d'un site internet qui présente son activité. Grâce à un design clair et épuré, son site a rapidement attiré de nouveaux visiteurs.</p>
                            <div class="mt-6 inline-flex items-center gap-x-6 bg-[#275a8a] rounded-2xl px-4">
                                <a href="/etude-de-cas/barthes-coaching" class="text-sm bg-WebLevel hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">Découvrir le projet</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-start justify-end order-first lg:order-last">
                        <img src="/media/site/barthes_coaching.webp" alt="Passtech" class="w-[48rem] object-cover aspect-[6/5] rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" width="2432" height="1442">
                    </div>
                </div>
            </div>
        </section>
    </main>

                    <section class="bg-WebLevel-light-purple">
    <div class="px-6 py-20 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="font-bold tracking-tight text-gray-900 text-3xl md:text-4xl">Vous avez un projet ?</h2>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 font-semibold text-gray-600">Nous concevons des sites internet uniques référencés sur les moteurs de recherche. Un conseiller vous rappelle en moins d'1h.</p>
            <div class="mt-6 flex -space-x-2 justify-center items-center">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_charles.webp" alt="Photo de profil Charles">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_abdel.webp" alt="Photo de profil Benoit">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_benjamin.webp" alt="Photo de profil Benjamin">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_lucie.webp" alt="Photo de profil Lucie">
            </div>
            <div class="mt-10 inline-flex items-center justify-center gap-x-6 bg-[#275a8a] rounded-2xl px-4">
                <a href="/contact" class="text-sm bg-WebLevel hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">Contactez-nous <span class="ml-2 mt-0.5" aria-hidden="true">&rarr;</span></a>
            </div>
        </div>
    </div>
</section>
        

    <script>
        window.axeptioSettings = {
            clientId: "64cf6e276b3b964999d70144",
            cookiesVersion: "WebLevel-fr",
        };

        (function(d, s) {
            var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
            e.async = true; e.src = "//static.axept.io/sdk.js";
            t.parentNode.insertBefore(e, t);
        })(document, "script");
    </script>
{% endblock %}
