{% extends 'base.html' %}

{% block title %}WebLevel Agence - Agence Web et Référencement SEO{% endblock %}


{% block content %}
<body class="bg-black text-white">
    <div class="container mx-auto p-8 border-t-2  border-gray-600">
        <div class="bg-black shadow-md rounded-lg py-8">
            <h1 class="text-5xl font-bold mb-4">FabCab VTC Reims</h1>
            <div class="flex flex-row">
                <p class="text-gray-400 mb-2">by WebLevel Chamonix</p>
                <a  href="https://fabcabvtc51.com" target="_blank"  class="bg-[#265a8a] text-white font-bold py-2 px-4 rounded inline-flex items-center ml-8 transition-transform transform hover:scale-110">
                    <span>VIEW LIVE WEBSITE </span>
                    <?xml version="1.0" ?><svg class="ml-2" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M10 6H6C4.89543 6 4 6.89543 4 8V18C4 19.1046 4.89543 20 6 20H16C17.1046 20 18 19.1046 18 18V14M14 4H20M20 4V10M20 4L10 14" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
                </a>                
            </div>
        </div>
        <div class="mt-8">
            <img src="/media/site/fabcab-pre.png" alt="Atom Water Pump Solutions Website on a Macbook" class="w-full rounded-lg">
            <p class="tmx-auto mt-6 w-full text-lg leading-8 font-semibold text-gray-100">WebLevel soutient FabCab VTC à Reims en fournissant des services de création de sites web et de référencement SEO. Notre expertise sur mesure a renforcé leur présence en ligne, aidant ainsi à attirer plus de clients et à stimuler leur croissance commerciale.</p>
        </div>
    </div>
    <section class="bg-black">
        <div class="px-6 py-20 sm:px-6 lg:px-8">
            <div class="mx-auto max-w-2xl text-center">
                <h2 class="font-bold tracking-tight text-white text-3xl md:text-4xl">Vous avez un projet ?</h2>
                <p class="mx-auto mt-6 max-w-xl text-lg leading-8 font-semibold text-gray-100">Nous concevons des sites internet uniques référencés sur les moteurs de recherche. Un conseiller vous rappelle en moins d'1h.</p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                    <a href="/contact" class="text-sm bg-[#265a8a] hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">Contactez-nous <span class="ml-2 mt-0.5" aria-hidden="true">&rarr;</span></a>
                </div>
            </div>
        </div>
    </section>
</body>

  
{% endblock %}